body {
    font-family: "proxima-nova", Helvetica Neue, Verdana, Geneva, sans-serif;
    margin: 0;
    background: #FFF;
}

#not_logged_in {
    height: 100vh;
    display: flex;
}

#hero {
    background: #5A6978;
}

#right {
    
}