{% extends "base.html" %}
{% block body %}
<section id="logged_in">
    <header class="logged_in_header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/buckets">Buckets</a></li>
            <li><a href="/goals">Goals</a></li>
            <!--<li><a href="#">Achievements</a></li>-->
            <li><a href="/logout">Logout</a></li>
            <li><a href="#">{{name}}</a></li>
        </ul>
    </header>
    <main>
        <section class="main_header">
            <span class="main_header_create_button"><a href="create_goal">+</a></span><span class="main_header_name">Goal</span>
        </section>
        <section class="main_main">
            <div id="goal_list_header">
                <span class="goal_description">Description</span>
                <span class="goal_bucket">Bucket</span>
                <span class="goal_status">Status</span>
                <span class="goal_action">Action</span>
            </div>
            
            {% if not bucket_goals %}
                <div>No goals in bucket. Let's create one!</div>
                {% else %}
                    {% for i in bucket_goals %}
                        <div class="goal_container">
                            <span class="goal_description">{i}</span>
                            <span class="goal_bucket">Career</span>
                            <span class="goal_status"><div class="goal_status_indicator goal_status_achieved"></div></span>
                            <span class="goal_action">
                                <span class="bucket_thumb_button bucket_thumb_edit_button">Edit</span>
                                <span class="bucket_thumb_button bucket_thumb_delete_button">Delete</span>
                            </span>
                        </div>
                    {% endfor %}
            {% endif %}
            
            
        </section>
    </main>
</section>
{% endblock %}